.container-cita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-agendar {
  font-size: 18px;
}

.tabla-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.paginacion {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
