.container-registro{
    display: block;
    justify-content: center;
    align-items: center;
   
}

.inputs{
    display: block;
    justify-content: center;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}